<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <link rel="stylesheet" th:href="@{/booking.css}"/>
    <script th:src="@{/booking.js}" defer></script>
    <title>NY5th FashLink</title>
</head>
<body>
    <header>

        <!--LOGO + MENU-->
        <div class="nav_container">
            <div class="logo">
                <img src="/images/fashlink_logo.png">
            </div>
            <div class="menu">
                <a th:href="@{/home}">HOME</a>
                <a th:href="@{/advisors}">ADVISORS</a>
                <a th:href="@{/fashion}">FASHION</a>
                <a th:href="@{/my_profile}">MY PROFILE</a>
                <a th:href="@{/messages}">MESSAGES</a>
            </div>
        </div>
    </header>
    <main>

        <!--FORM-->
        <form action="/booking" id="frmBooking" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <h1>Single Consultation</h1>
            <input type="hidden" id="availability" name="availability" th:value="${advisor.availability}"/>
            <table>
                <!--1st line: Picture + Categories + Rating + Price + buttons-->
                <tr>
                    <td id="picture" rowspan="4"><img th:src="${advisor.urlPicture}" alt="advisor picture"></td>
                    <td id="categories" class="line1" th:text="${#strings.replace(advisor.categories, '[', '').replace(']', '').replace(',', '  |  ')}">Categories</td>
                    <td class="btn-adv1" rowspan="4">
                        <button type="submit">
                            <img src="/images/adv_btn_schedule.png" alt="schedule">
                        </button>
                    </td>
                </tr>

                <!--2nd line: Advisor's name-->
                <tr>
                    <td class="line2" th:text="${advisor.firstName + ' ' + advisor.lastName.charAt(0) + '.'}" colspan="3">First Name</td>
                </tr>

                <!--3rd line: Availability-->
                <tr>
                    <td class="line3" th:text="${#strings.replace(advisor.availability, '[', '').replace(']', '').replace(',', '  |  ')}" colspan="3">Availability</td>
                </tr>

                <!--4th line: components to select date and time-->
                <tr>
                    <td class="line4" colspan="3">
                        <form action="/booking_confirmation" method="post">
                            <!--Date-->
                            <div class="combobox">
                                <p>Date</p>
                                <input type="date" name="date" id="date" required onchange="populateTimeOptions()">
                            </div>

                            <!--Time-->
                            <div class="combobox">
                                <p>Time</p>
                                <!-- Time selection dropdown with optgroups -->
                                <select name="time" id="time" required>
                                    <!--Time slots are generated by populateTimeOptions-->
                                </select>
                            </div>
                        </form>
                    </td>
                </tr>
            </table>
        </form>
    </main>
</body>
</html>